body {
  font    : 14px "Lucida Grande",Helvetica,Arial,sans-serif;
  padding : 50px
}

a {
  color   : #00b7ff
}

a-scene{
  z-index : -1;
}

.container {
  position        : absolute;
  width           : 100%;
  display         : flex;
  justify-content : center;
  margin-top      : 5%;
}

.dashboard {
  position        : absolute;
  justify-content : center;
  left            : 2%;
  bottom          : 4%;
}

.info {
	font-family       : Arial;
  position          : absolute;
  background-color  : rgba(255, 255, 255, 0.5);
  padding           : 30px;
  display           : flex;
  flex-direction    : column;
  justify-content   : center;
  align-items       : center;
  width             : 500px;
  position          : absolute;
  left              : 50%;
  transform         : translate(-50%, -0%);
}

.info .src_code {
  font-size         : 2em;
}

.info .title {
  font-size         : 7em;
  font-family       : 'Georgia';
}

.info .start {
  font-weight       : bold;
  background-color  : limegreen;
  padding           : 10px;
  margin            : 24px 0 0 0;
}

.info .instructions {
  background-color  : rgba(0, 0, 0, 0.1);
  padding           : 30px;
  margin            : 24px 0 0 0;
}

.dashboard .content {
  background-color  : rgba(0,0,0,.35);
  padding           : 20px;
}

@media (max-width: 600px) {
  .info {
    width           : 60%
  }
  .info .src_code{
    font-size       : 1em;
  }
  .info .title{
    font-size       : 3em;
  }
}
