body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 50px
}

a {
    color: #00b7ff
}

a-scene {
    z-index: -1;
}

.container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-family: Verdana, Geneva, sans-serif;
}

.dashboard {
    position: absolute;
    justify-content: center;
    left: 2%;
    bottom: 2%;
}

.info {
    font-family: Courier New;
    position: absolute;
    background-image: url('../img/bg/home.jpg');
    background-color: #ffffffc9;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    opacity: 0.9;
}

.info .src_code {
    font-size: 2em;
}

.info .title {
    font-size: 7em;
    font-family: 'Georgia';
}

.info .start {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin: 16px 0 0 0;
}

.info .instructions {
    font-size: 16px;
    padding: 30px;
    margin: 24px 0 0 0;
}

.dashboard .content {
    background-color: rgba(0, 0, 0, .35);
    padding: 20px;
}

.dashboard .content strong {
    color: white;
    font-weight: 900;
    font-family: sans-serif;
}

.question {
    position: absolute;
    justify-content: center;
    left: 45%;
    bottom: 4%;
}

.question .content {
    background-color: rgba(0, 0, 0, .35);
    padding: 20px;
}

.question .content strong {
    color: rgb(114, 255, 255);
    font-weight: 900;
    font-size: 1.5em;
    font-family: sans-serif;
}

#question {
    z-index: -2;
}

#QuesFound {
    color: yellow;
    font-size: 1.5em;
    text-transform: uppercase;
}

#level1 {
    cursor: pointer;
    border: solid;
}

#level2 {
    cursor: pointer;
    border: solid;
}

@media (max-width: 600px) {
    .info {
        width: 60%
    }
    .info .src_code {
        font-size: 1em;
    }
    .info .title {
        font-size: 3em;
    }
}